.calculator {
  width: 320px;

  border: 2px solid white;
  border-radius: 25px;
  position: absolute;

  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background: url(img/white-numbers-background.jpg) no-repeat center center
    fixed;

  background-size: cover;
  height: 2000px;
  width: 100%;
  position: relative;
}
